* {
  text-align: center;
  scroll-behavior: smooth;
}


/* BRAND COLORS BASICALLY
	#899DFF - soft blue
	#FFA5D7 - baby pink
	#faf7f3 - soft tan
	#FFFF00 - subtext yellow
	These are mainly used for text. blue and pink is for accentuations and emphasis
	soft tan is either main color, or for visibility
	The idea is to make big texts look like subtitles,
	because retro and because more visible. black outline and bright inside.

	Courier because retro af
*/

/* ANYTHING PERTAINING TO THE MAIN BANNER */
.Jumbotron {
	height: 100vh;
	background-image: url('./media/errs.jpg');
	background-position: 40% 10%;
	background-size: cover;

}

@media only screen and (max-width: 400px) {
  .Jumbotron {
	background-position: 30% 10%;
  }
}

@media only screen and (min-width: 768px) {
	.banner_text h1 {
		position: relative;
		left: 20vw;
		top: 20vh;
		font-size: 6em;

	}

	.banner_text p {
		position: relative;
		left: 25vw;
		top: 30vh;
		font-size: 2em;
	}
}

.banner_text{
	position: relative;
	height: 95vh;
	font-family: "Courier";
	color: #FFA5D7;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	overflow: hidden; 

}

.banner_text p {
	font-family: "Courier";
	font-weight: bold;
	color:  #899DFF;
}

#learnmore {
	position: absolute;
	bottom: 0;
	font-family: "Courier";
	color: #faf7f3;
	animation:blinkingText 10s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    2%{   color: #FFFF00;    }
    5%{     color: #000;    }
    10%{   color: #FFFF00;    }
    50%{     color: #000;    }
    80%{   color: #FFFF00;    }
    94%{     color: #000;    }
    100%{   color: #FFFF00;    }
}

/* END MAIN BANNER */

/* SECOND (MAYBE PROJECTS) PAGE*/

.firstSlide {
	position: relative;
}

.secondSlide video {
	position: relative;
	right: 25%;
	width: 40vw;
	height: 80vh; 
}

.thirdSlide img {
	position: relative;
	height: 80vh;
	padding-right: 52%;
	padding-top: 2%;
}

.fourthSlide video {
	position: relative;
	padding-right: 70%;

}

.showcasedescription {
	position: absolute;
	top: 20%;
	left: 45vw;
	right: 0;
	width:52%;
	height: 100%;
	padding-right: 5%;
	padding-left: 2%;
	padding-top: 2%;
	z-index: 10;
	margin-right: 100%;
	background: rgba(153, 153, 153, 0.1);
/*	background-image: linear-gradient(#999999, #ffffff); */
	background-size: cover;
	border-radius: 2%;
	transform: rotate(5deg);
}


.showcasedescription h2 {
	font-family: "Impact";
	font-style: oblique;
	font-weight: 900;
	font-size: 2.5em;
	text-shadow: 1px 0 white, 0 -2px black;
	transform:rotate(-4deg);
	padding-bottom: 2%;
	overflow: hidden;
}

.showcasedescription p {
	font-family: "Courier";
	color: #FFFF00;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	transform:rotate(-5deg);
}

@media only screen and (max-width: 400px) {
  .showcasedescription {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width:100%;
	height: 100%;
	padding-right: 5%;
	padding-left: 2%;
	padding-top: 2%;
	z-index: 10;
	margin-right: 100%;
	background: rgba(51, 51, 51, 0.8);
/*	background-image: linear-gradient(#999999, #ffffff); */
	background-size: cover;
	border-radius: 2%;
	transform: rotate(0deg);
}

.showcasedescription h2 {
	font-family: "Impact";
	color: #333333;
	font-style: oblique;
	font-weight: 900;
	font-size: 2.5em;
	text-shadow: 1px 0 white, 0 -2px black;
	transform:rotate(0deg);
	padding-bottom: 2%;
	overflow: hidden;
}

.showcasedescription p {
	font-family: "Courier";
	color: #FFFF00;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	transform:rotate(0deg);
}
}

/* PERTAINING BIOGRAPHY */

.biography_page {

}
